David Farmer's WGLC comments

1At the end of the second paragraph of the introduction, there is a reference to RFC8981, but the sentence is about ND Proxy, so I suspect the reference is supposed to be RFC4389.

2. The Security Considerations section should also discuss DHCP-Shield RFC7610, which protects against rogue DHCP servers, in addition to RA Guard, which is already there.